/* header bg image*/
.header{
    background-image: url(../images/Hero-bg.png);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    max-height: 50%;
    max-width: 100%;
}

/* navbar */
.nav-title {
  font-weight: bolder;
  font-size: 32px;
  color: #4E47FF;
  margin-left: 10px;
   
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-col {
  background-color: #4E47FF;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right;: 10px 
}
/* banner */

.banner {
  color: #252432;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 50px;
  
}
.description {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header .banner{
    margin-bottom: 0;
    padding-bottom: 100px;
}
/* main fuction */
/* action */
main {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f5f6ff;
  color: #252432;
  text-align: center;
}

.action{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 40px;
}
.dark-2{
    color:#808080;
    font-size: 20px;
    font-weight: 200;
}
.dark{
    color:#252432 100%;
    font-size: 28px;
    font-weight: 600;
    
}
.rounded-image{
    border-radius: 30px;
}
/* section2 joined thousand */
.joined{
    background-color: #e8e9ff;
    padding: 20px 20px 10px 20px;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 1000px; 
    
}
.text{
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 0px;
}
.countdown{
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 0px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.littelspace{
    align-items: center;
    font-size: 15px;
    font-weight: 200;
    
}
.color2{
   font-size: 60px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 900;
   color: #4E47FF;
   padding: 0;
   margin-bottom: 5px;
}
/* section 3 star image part*/
.test{
    text-align: center;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1000;
}
.test h2{
    font-size: 28px;
    color:#252432;
    margin-bottom: 30px;
}
.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 200px;

}
.card{
    text-align: left;
    background-color: #e8e9ff;
    box-shadow: rgb(125, 126, 128);
    border-radius: 10px;
    padding: 20px;
    width: auto;

}
.starimage{
    display:flex;
    gap: 4px;
    height: 20px;
    width: 20px;
}
.card h3{
    font-size: 16px;
    margin: 10px auto;
}
.card p{
    font-size: 12px;
    margin-bottom: 15px;
}

.review1{
    display:flex;
    align-items:center;
    gap: 10px;
    border-radius: 100px;
} 
.review1 h4{
    font-size: 12px;
    color: #626567 ;
}
.review1 small{
    font-size: 10px;
    color:#b3b6b7;
}